<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %> 
                <h1>Nothing there!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders-item">
                            <h1>Order - <%= order._id %> </h1>
                            <ul class="orders-products">
                                <% order.items.forEach(item => { %>
                                    <li class="orders-products-item">
                                        <%= item.title %> (<%= item.quantity %>) 
                                    </li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %> 
        </main>
        <%- include('../includes/end.ejs') %>